@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Great-Vibes';
  src: url('../public/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prata';
  src: url('../public/fonts/Prata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rabona';
  src: url('../public/fonts/Rabona-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  p {
    @apply font-medium
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}